{% load staticfiles %}
<html>
<head>
<title>{% block head_title %}RVS-Blog-Django{% endblock head_title %}
</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<style type="text/css">
	{% block style %}{% endblock style %}
</style>


{% block head_extra %}{% endblock head_extra %}

</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container">
<ol class="breadcrumb">
    <li><a href="{% url 'posts:list' %}">Posts</a></li>
    {% if request.user.is_superuser or request.user.is_staff %}
    <li><a href="{% url 'posts:create' %}">Create new post</a></li>
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
    {% endif %}

    {% if not request.user.is_authenticated %}
    <li class="pull-right"><a href="{% url 'register' %}">Register</a></li>
    <li class="pull-right"><a href="{% url 'login' %}">Login</a></li>
    {% else %}
    <li class="pull-right"><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
</ol>
	{% block content %}{% endblock content %}
</div>


 <!-- Latest compiled and minified JavaScript -->

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$(".content-markdown").each(function(){
		var content = $(this).text()
		var markedContent = marked(content)
		$(this).html(markedContent)
		})
	}) 

	$(document).ready(function(){
		$(".post-detail-item img").each(function(){
		$(this).addClass("img-responsive")
		})
	}) 
		
	
// for form.html
	$(document).ready(function(){
		$("#preview-title").text($("#id_title").val())
		$("#preview-content").html(marked($("#id_content").val()))
		$("#preview-content img").addClass("img-responsive")
	}) 

	$("#id_title").keyup(function(){
		$("#preview-title").text($(this).val())
	})

	$("#id_content").keyup(function(){
		$("#preview-content").html(marked($(this).val()))
		$("#preview-content img").addClass("img-responsive")
	})

    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })


</script>
</body>
</html>