{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} |  {{ block.super }}
{% endblock head_title %}

{% block content %}

    <div class="col-xs-12 col-xs-offset-0 col-sm-9 col-sm-offset-1 col-md-6 col-md-offset-3 post-detail-item">
    <h1>Comment Thread</h1>
        <p class="mb-0">{{ comment.content }}</p>
        <footer class="blockquote-footer">{{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 1 %} {{ comment.children.count }} comments | {% endif %} {% if comment.children.count == 1 %} 1 comment | {% endif %}
        {% if comment.user == request.user %}
        <a href="{{ comment.get_delete_url }}" >Delete a comment</a>
        {% endif %}
        </footer>
        <hr>
        {% for child_comment in comment.children %}
            <blockquote class="blockquote">
              <p class="mb-0">{{ child_comment.content }}</p>
              <footer class="blockquote-footer">{{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago
              {% if child_comment.user == request.user %}
                <a href="{{ child_comment.get_delete_url }}" > | Delete a comment</a>
                {% endif %}</footer>
            </blockquote>
        {% endfor %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="hidden" name="parent_id" value="{{ comment.id }}" >
            <input type="submit" value="Reply" class="btn btn-default">
            <a href="{{ comment.content_object.get_absolute_url }}" class="btn btn-default">Return</a>

        </form>
        
    </div>
{% endblock content %}














