{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}FORM | {{ block.super }}{% endblock head_title %}
{% block head_extra %}{{ form.media }}{% endblock head_extra %}
    
{% block content %} 

<div class="col-md-6 col-md-offset-3">

<h1>Confirm delete</h1>

<form method="POST" action="">
{% csrf_token %}
<p>Do you want to delete the comment "{{ comment.content }}"?</p>    
<input type="submit" class="btn btn-warning"  value="Confirm">
<a href="{{ comment.get_absolute_url }}" class="btn btn-default">Cancel</a>
</form>
</div>

{% endblock content %}

