{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-4 col-md-3 col-md-offset-3">

<h1>{{ title }}</h1>
<form method="POST" action="" enctype="multipart/form-data">
{% csrf_token %}    
{{ form|crispy }}
<input type="submit" class="btn btn-default"  value="{{ title }}">
</form>



{% endblock content %}

