{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} |  {{ block.super }}
{% endblock head_title %}

    {% block content %}
    <div class="col-xs-12 col-xs-offset-0 col-sm-9 col-sm-offset-1 col-md-6 col-md-offset-3 post-detail-item">
    <div>

    </div>
        <div> 
         <h1>{{ instance.title }} 
        {% if instance.draft %} <small>draft</small>{% endif %}
            <small>{{ instance.publish }} </small></h1>
        </div>
        <div>
            <p>Read time:  {% if instance.read_time <= 01 %} < 1 minute {% else %}{{ instance.read_time }} minutes {% endif %}</p>
            <p>{% include "messages_display.html" %}</p>
            
        </div>

        <div>
            {% if instance.image %}
                <img src="{{ instance.image.url }}" class="img-responsive">
            {% endif %}            
        </div>

        <p>
            {% if instance.user.get_full_name %}
                Author: {{ instance.user.get_full_name }}
            {% endif %}
        </p>
        <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
        <hr>
        <p class="content-markdown ">
            {{ instance.get_markdown }}
        </p>
        <p>
            <a href="{% url 'posts:list' %}" class="btn btn-default" role="button">Posts</a>
            {% if instance.user == request.user %}
                <a href="{% url 'posts:update' instance.slug %}" class="btn btn-default" role="button">Update</a>
            {% endif %}
        </p>
            
        <hr>
        {% if request.user.is_authenticated %}
        <form method="POST" action="">
        {% csrf_token %}
         {{ comment_form|crispy }}
            <input type="submit" value="Comment post" class="btn btn-default">
        </form>
        {% else %}
        <p>You must login to comment</p>
        {% endif %}
        <hr>

        <div>
            <p class="lead">Comments</p>

        {% for comment in comments %}
            <blockquote class="blockquote">
              <p class="mb-0">{{ comment.content }}</p>
              <footer class="blockquote-footer">{{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 1 %} {{ comment.children.count }} comments | {% endif %} {% if comment.children.count == 1 %} 1 comment | {% endif %}
            {% if instance.user == request.user %}
            <a href="{{ comment.get_delete_url }}" >Delete a comment |</a>
            {% endif %}
              <a href="#" class="comment-reply-btn">Reply</a> | <a href="{{ comment.get_absolute_url }}" >Thread</a></footer>
            <div class="comment-reply">
                {% for child_comment in comment.children %}
                <blockquote class="blockquote">
                  <p class="mb-0">{{ child_comment.content }}</p>
                  <footer class="blockquote-footer">{{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                </blockquote>
                {% endfor %}
                <form method="POST" action="">
                {% csrf_token %}
                 {{ comment_form|crispy }}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}" >
                    <input type="submit" value="Reply" class="btn btn-default">
                </form>
            </div>
            </blockquote>
    {% endfor %}
        </div>

<!-- facebook comments -->
        <!-- <div class="row">
                <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
        </div> -->
        
    </div>
    {% endblock content %}














