{% extends "base.html" %}

{% block head_title %}
{{ block.super }}
{% endblock head_title %}


{% block content %}
	<div class="col-xs-12 col-xs-offset-0 col-sm-9 col-sm-offset-1 col-md-6 col-md-offset-3 ">
    <h1>Posts</h1>
    <form method="get" action="" class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <input class="form-control" type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}">
            <span class="input-group-btn">
                <!-- <input class="btn btn-default"  type="submit" value="search"> -->
                <button type="submit" class="btn btn-default" >Search <i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
        
    </form>
		<p>{% include "messages_display.html" %}</p>
		{% for obj in object_list %}
	    <div class="thumbnail">
	      <!-- <img src="..." alt="..."> -->
	      <div class="caption post-detail-item">
		      <h4>{% if obj.draft %} <span >For the staff: in draft yet. </span> {% endif %}
		      {% if obj.publish > today %} <span > Future publish. </span> {% endif %}
		      </h4>
		        <h3><a href="{{ obj.get_absolute_url }}" >{{ obj.title }} </a>
		        <small>{{ obj.publish }}</small> </h3>
		        {% if obj.image%}
					<img src="{{ obj.image.url }}" class="img-responsive">
				{% endif %}
		        <p class="content-markdown">{{ obj.get_markdown|truncatewords_html:10 }}</p>
		        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
	      </div>
	    </div>
	      <hr>
		{% endfor %}
		<div class="pagination">
	    <span class="step-links">
	        {% if object_list.has_previous %}
	            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
	        </span>

	        {% if object_list.has_next %}
	            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
	        {% endif %}
	    </span>
		</div>
	</div>
{% endblock content %}

